html, body {
  padding:0;
  margin:0;
  background: #fff;
  color: #000;
  font-size: 1.2rem;
  line-height: 1rem;
}
body {
  padding: 1.5rem;
}
img {
   max-width: 100%; 
}
header {
  text-align: center;  
  min-height: 200px;
  background: url(/coursera-css3-hw-two/images/flywheel.jpg) top center no-repeat;
  background-size: cover;
  overflow: auto;
}
header h1 {
  line-height: 2.8rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);  
}
nav {
  padding: 3px 0;
}
nav a:link, nav a:visited {
  background-color: rgba(255,255,255,0.3);
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 3px;
  transition: 500ms;
}
nav a:hover, nav a:active {
  background-color: rgba(255,255,255,1);
}
nav a.active {
  background-color: rgba(255,255,255,1);
}

aside.left {
  float: left;
  width: 30%;
  display: inline-block;
}
section.right {
  float: right;
  width: 68%;
}
